@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --bg: rgb(26, 32, 45);
}

* {
  color: white;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background: rgb(26, 32, 45);
}

body {
  background: rgb(26, 32, 45) !important;
}

/* MAIN */
.navbar {
  font-family: 'Poppins', sans-serif;
}

.header-showcase {
  border-bottom: 2px solid #6c757d;
}

.header-container { 
  margin-top: 7vh;
  display: flex;
}

.header1 {
  width: 100%;
}

#str {
  width: 100%;
  padding: 20px;
  min-height: 225px;
  font-family: sans-serif;
  font-size: 4.5vw;
  line-height: 80px;
  margin: 20px auto;
  color: #fff;
  font-weight: bold;
}

#str:after {
  content: "|";
  animation: blink 1s infinite 5s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  background: none;
  outline: none;
  border: 1px solid #ffc107;
  padding: 1rem 2rem;
  margin: 0 0.5vw;
  border-radius: 4px;
}

.button-signup:hover {
  background: #ffc107;
}

.button-login:hover {
  background: #ffc107;
}

.carbon-emmisions-section {
  min-height: 40vh;
}

/* SIGN UP */

.sign-up-header>h1 {
  font-size: 8rem;
  text-align: center;
}

.form-container {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.signup-form {
  width: 80vw;
  height: 30vh;
  border-radius: 4px;
  margin: 1vh;
}

.signup {
  margin-top: 200px;
  margin: 15px 50px;
}

.form-box {
  margin-top: 50px;
}

.signup-address {
  margin: 10px 65px;
}

.sign-up-btn {
  text-align: center;
  display: block;
  margin-top: 30px;
  margin-left: 60px;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.sign-up-btn:hover {
  background: transparent;
  border: 1px solid white;
  color: white !important;
}



/* LOG IN */

.login-header>h1 {
  font-size: 8rem;
  text-align: center;
}

.form-container-login {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-form {
  width: 80vw;
  height: 25vh;
  border-radius: 4px;
  margin: 1vh;
}

.login {
  margin-top: 200px;
  margin: 15px 50px;
}

.form-box-login {
  margin-top: 50px;
}

.login-btn {
  text-align: center;
  display: block;
  margin-top: 30px;
  margin-left: 60px;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.login-btn:hover {
  background: transparent;
  border: 1px solid white;
  color: white !important;
}

.visible {
  display: block;
}

.trip-cancel {
  outline: none;
  border: none;
  background: #ffc107;
  border-radius: 4px;
}
